header { background: #fff; }
.top-menu a { color: #333; }
.header-bottom .mainmenu > a { color: #333; }

#container { padding-top: 137px; }
@media screen and (max-width: 1280px) {
	header { height: 113px; }
	.menu_bar > .bar1 { display: none; }
    .menu_bar > .bar2 { display: block; }
    #container { padding-top: 113px; }
}

/* sub-visual */
.sub-visual { background: url(../images/sub/visual/rd-visual1.png) no-repeat center center / cover; height: 550px; margin-bottom: 130px; display: flex; flex-flow: row wrap; align-items: center; }
.visual-wrap { width: 95%; color: #eee; text-align: center; padding-top: 70px; margin: 0 auto; }
.visual-wrap > h2 { font-size: 48px; font-weight: normal; }
.visual-wrap > p:nth-child(2) { font-size: 24px; padding: 50px 0 53px; }
.visual-wrap > p:last-child { font-size: 16px; }

/*.visual-wrap.active { opacity: 1; transition: 1s; }
.visual-wrap.active > h2 { opacity: 1; transition-delay: 0.3s; }
.visual-wrap.active > p:nth-child(2) { opacity: 1; transition-delay: 0.5s; }
.visual-wrap.active > p:last-child { opacity: 1; transition-delay: 0.7s; }*/

.tabmenu { width: 100%; box-sizing: border-box; border-top: 1px solid #eee; align-self: flex-end; position: relative; left: 0; }
/* 스크롤 시 고정 */
.tabmenu.over { position: fixed; top: 72px; background: #fff; z-index: 80; border-bottom: 1px solid #ccc; }
.tabmenu.over a { color: #333; }

.tabmenu > h3 { font-size: 20px; color: #fff; display: none; }
.tabmenu > span { font-size: 20px; color: #333; display: none; }
.tabmenu > ul { max-width: 756px; width: 96%; display: flex; justify-content: space-between; align-items: center; margin: 0 auto; }
.tabmenu a { font-size: 20px; line-height: 2.5; color: #eee; display: block; }

@media screen and (max-width: 1280px) {
	.sub-visual { margin-bottom: 80px; }
}
@media screen and (max-width: 780px) {
	.sub-visual { background-position: 60%; }
	.visual-wrap { padding-top: 40px; }
	.visual-wrap > h2 { font-size: 36px; }
	.visual-wrap > p:nth-child(2) { font-size: 20px; }
	.tabmenu { display: flex; align-items: center; position: relative; height: 50px; border-top: none; }
	.tabmenu > h3 { display: block; width: 50%; text-align: center; background: #004098; height: 100%; box-sizing: border-box; padding-top: 10px; }
	.tabmenu > span { display: block; text-indent: 0; width: 50%; height: 100%; text-align: center; background: #fff url(../images/header/arrow_top.png) no-repeat 95% center / 15px 10px; box-sizing: border-box; padding-top: 10px; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; }
	.tabmenu > span.over { background-image: url(../images/header/arrow_bottom.png); }
	.tabmenu > ul { width: 50%; flex-direction: column; height: 200px; background: #dfe2eb; box-sizing: border-box; border: 1px solid #b6b6b6; position: absolute; right: 0; top: 100px; z-index: 10; opacity: 0; transition: 0.5s; }
	.tabmenu > ul.over { width: 50%; flex-direction: column; height: 200px; background: #dfe2eb; box-sizing: border-box; border: 1px solid #b6b6b6; position: absolute; right: 0; top: 49px; z-index: 20; opacity: 1; transition: 0.5s; }
	.tabmenu a { color: #747474; }
}
@media screen and (max-width: 412px) {
	.visual-wrap > p:nth-child(2) { padding: 35px 0 42px; }
	.tabmenu > span { font-size: 17px; }
	.tabmenu a { font-size: 17px; }
}